table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid wheat;
    margin-top: 15px;
    padding-top: 10px;
}

table th,
table td {
    border: 1px solid wheat;
    padding: 10px;
    text-align: left;
}

th{
    background-color: blanchedalmond;
}
